{% raw %} {% extends "bootstrap/base.html" %} {% endraw %}

{% raw %}
{% block head %}
  {{ super() }}
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='favicon.png') }}"
  />
{% endblock %}
{% endraw %}

{% raw %}{% block title %}{% endraw %} {{ cookiecutter.name }} {% raw %}{% endblock %}{% endraw %}

{% raw %}{% block content %}{% endraw %}
  <div style="display: flex; min-height:100vh; flex-direction:column; flex: 1">
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">
          <span>
            <img
              src="{% raw %}{{ url_for('static', filename='favicon.png') }}{% endraw %}"
              width="64"
              height="64"
            />
          </span>
          {{ cookiecutter.name }}
        </h1>
        <p class="lead">
          A Python application to do something amazing
        </p>
        <hr class="my-4" />
        <p>
          Check out the source code at
          <a href="{{ cookiecutter.url }}">{{ cookiecutter.url }}</a>
        </p>
      </div>
    </div>
    <div class="container">
      {% raw %}{% include 'some_form.html' %}{% endraw %}
    </div>
  </div>
  <footer class="footer" style="padding: 1rem">
    <div class="container">
      <span class="text-muted">
        &copy; Copyright {{ cookiecutter.copyright_year }} by {{ cookiecutter.author }}
      </span>
    </div>
  </footer>
{% raw %}{% endblock %}{% endraw %}
